/* Reset */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
h1,
h2 {
	font-weight: inherit;
	font-size: inherit;
	overflow-wrap: break-word;
	line-height: 1.1;
}
input,
button {
  font: inherit;
}
button,
input,
label {
  line-height: 1.1;
}
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

:root {
	--Primary-Blue: hsl(223, 87%, 63%);

	--Pale-Blue: hsl(223, 100%, 88%);
	--Light-Red: hsl(354, 100%, 66%);

	--Gray: hsl(0, 0%, 59%);
	--Very-Dark-Blue: hsl(209, 33%, 12%);
}
 
body {
	font-family: "Libre Franklin", sans-serif;
	font-size: 1.25rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1.6875rem;
}
img {
  width: 100%;
  display: block;
}

.header {
	margin-top: 5rem;
	margin-bottom: 2rem;
}
header img {
	width: 3.5rem;
}

h1 {
	margin: 0 auto;
	color: var(--Gray);
	font-weight: 300;
	font-size: 22px;
	line-height: 145%;
	margin-bottom: 0.9375rem;
}

h1 span {
	color: var(--Very-Dark-Blue);
	font-weight: 700;
}

.page {
}
.text {
	font-size: 0.75rem;
	font-weight: 300;
	line-height: 15px;
	color: var(--Very-Dark-Blue);
	margin-bottom: 2rem;
	margin-top: 0;
}

.form-container {
	width: 90%;
	margin: auto;
	margin-bottom: 4.5rem;
}

.email-form {
	display: grid;
	/* grid-template-rows: repeat(2, 2fr); */
	gap: 0.875rem;
}
 
.email-input {
	border-radius: 1.75rem;
	border: 1px solid var(--Pale-Blue);
	background: #fff;
	box-shadow: 0 0 0.4375rem 0.1875rem rgba(0, 0, 0, 0);
	color: var(--Very-Dark-Blue);
	padding: 0.5rem 1.875rem;
	font-weight: 300;
	font-size: 0.75rem;
	line-height: 167%;
}
 
.notify-btn {
	border-radius: 1.75rem;
	background: var(--Primary-Blue);
	box-shadow: 0 0.3125rem 0.625rem 0.125rem rgba(76, 123, 243, 0.23);
	border-style: none;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.75rem;
	line-height: 133%;
	padding: 0.5rem 3.875em;
	cursor: pointer;
}
 
.notify-btn:hover {
	opacity: 0.8;
}

.input--error {
	display: flex;
  	flex-direction: column;
}
.error-message {
	color: var(--Light-Red);
	display: none;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 0.75rem;
	font-style: italic;
	font-size: 0.625rem;
	line-height: 200%;
	letter-spacing: 0.0078125em;
}
.email-input.error-input {
	border: 1px solid var(--Light-Red);
}

.illustration {
	margin-bottom: 120px;
}
.illustration img {
	max-width: 40rem;
}
.icons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.731875rem;
	margin-bottom: 1.5625rem;
}

.icons i {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 1rem;
	height: 1rem;
	padding: 20px;
	border: 1px solid hsla(223, 87%, 63%, 15%);
	border-radius: 50%;
	font-size: 1rem;
	color: var(--Primary-Blue);
	transition: 0.3s;
	cursor: pointer;
}
.copyright {
	color: var(--Gray);
	font-size: 0.75rem;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 3.0625rem;
}

@media screen and (min-width: 780px) {
	.email-form {
		grid-template-columns: 6fr 3fr;
		grid-template-rows: none;
		gap: 1rem;
	 }
	.email-input {
		padding: 1.125rem 1.875rem;
	}
	.notify-btn {
		font-size: 1rem;
		line-height: 1.1875rem;
		/* padding-block: 1.125rem; */
		padding: 1.125em 3em;
		align-self: baseline;
	}

	.form-container {
		width: 100%;
	}
 
	.error-message {
	  align-self: flex-start;
	  padding-left: 1.875rem;
	}
}

@media screen and (min-width: 432px) {
	.header {
	  margin-bottom: 2.5rem;
	}
	.header img {
	  width: 5.625rem;
	}

	h1 {
	  font-size: 3rem;
	  line-height: 125%;
	}
	.text {
	  font-size: 1.25rem;
	  line-height: 1.5rem;
	  margin-bottom: 2.5rem;
	}
	
	.form-container {
	  margin-bottom: 5.875rem;
	}
 
	.email-input {
		font-size: 1rem;
		line-height: 125%;
		padding: 1.125rem 1.875rem;
	}
	.notify-btn {
		font-size: 1rem;
		line-height: 1.1875rem;
		padding-block: 1.125rem;
	}
 
	.error-message {
	  font-size: 0.75rem;
	  line-height: 167%;
	  letter-spacing: 0.009375em;
	  margin-top: 0.375rem;
	}
 
	.illustration {
	  margin-bottom: 4.5rem;
	}
}